<section class="at-a-glance content">
  <div class="title">
  <h1>{{ include.title }}</h1>
  <h2>{{ include.subtitle }}</h2>
</div>
  <ul class="post-list">
    {%- assign post_count = 0 -%}
    {%- assign posts = site.posts -%}

    {%- for post in posts -%}
      {%- if post_count >= 3 -%} {%- break -%} {%- endif -%}
      {%- if include.tag == nil or post.tags contains include.tag -%}
        <li class="post">
          <div class="post-author">
            <span class="author__image"></span>
            <div class="author__text">
              <span class="author__name">{{ post.author }}</span>
              <span class="post__date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
          <h4 class="post-title">{{ post.title }}</h4>
          <p class="post-body">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 30 }}</p>
        </li>
        {% assign post_count = post_count | plus:1 %}
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>