---
layout: default
---

<div class="department">
  {{ content }}
  <div class="content">
    <div class="title">
      {%- if page.heading -%}
      <h1>{{ page.heading }}</h1>
      {%- else -%}
      <h1>{{ page.title }}</h1>
      {%- endif -%}
      <h2>{{ page.subheading }}</h2>
    </div>

    {%- assign dept = site.data.departments[page.tag] -%}

    <p>{{ dept.description }}</p>

    <div class="listing">
      {%- assign nodes = dept.nodes|where:"hide",false -%}
      {% for node in dept.nodes %}
        <div>
          <div class="img-wrapper">
            <img class="framed"
              src="{{ node.image | default: '/assets/img/logo.svg' }}"
              alt="{{ node.label | default: '' }}" />
          </div>
          <div class="info">
            <h2>{{ node.title }}</h2>
            <p>{{ node.description }}</p>
            <a class="button-large"href="{{ node.link }}">{{ node.button_label }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <br />
    <div id="contact">
      <h2 class="h1">Contact</h2>
      <div class="contact__list">
        {%- for contact in dept.contact -%}
        <div>
          <h3 class="h2">{{ contact.name }}</h3>
          <p>
            <i data-feather="mail"></i><a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </p>
          <p><i data-feather="map-pin"></i>Room {{ contact.room }}</p>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script>
    window.onload = () => {
      feather.replace();
    };
  </script>
</div>
