---
layout: info
---

<div class="grid" id="gallery">
  {%- if page.url contains 'classwork' -%}
    {%- assign prop = 'classwork-videos' -%}
    {%- assign tag = page.tag | split: '-' | first -%}
  {% else %}
    {%- assign prop = 'gallery-videos' -%}
    {%- assign tag = page.tag -%}
  {%- endif -%}
  {%- for vid in site.data.galleries[tag][prop] -%}
    {%- assign id = vid | split: "v=" | last | split: "&" | first -%}
    <iframe class="framed" width="560" height="315" src="https://www.youtube.com/embed/{{- id -}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {%- endfor -%}
  {%- assign gallery_media = site.static_files | where: "tag", page.tag -%}
  {%- for img in gallery_media -%}
    <img loading="lazy" src="{{ img.path | relative_url }}" alt="" class="framed">
  {%- endfor -%}
</div>

<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
<script>
  const gallery = Macy({
    container: '#gallery',
    margin: 24,
    columns: 3,
    breakAt: {
      1000: 2,
      800: 1
    }
  });
  
  window.onresize = () => {
    gallery.reInit();
  }
</script>
